body {
  font-family: sans-serif;
  margin-left: 1in;
  margin-right: 1in;
}

header h1 {
  font-size: 100%;
  margin-top: 1in;
  text-align: center;
  text-transform: uppercase;
}

header p {
  font-size: 90%;
  margin-bottom: 1%;
  text-align: center;
}

main h1 {
  font-size: 90%;
  text-transform: uppercase;
  text-decoration: underline;
}

#Education {
  margin: 0;
}

#Education p {
  font-size: 85%;
}

h1 {
  margin-bottom: 0;
}

h2 {
  font-size: 85%;
  margin: 0;
}

ul {
  margin: 0;
}

li {
  font-size: 80%;
}

p {
  font-size: 85%;
  margin: 0;
}

li:last-child {
  margin-bottom: 2%;
}

.dateWorkedA {
  float: right;
}

.dateWorkedB {
  display: none;
}

.title {
  font-style: italic;
  font-weight: bold;
}

footer {
  font-size: 70%;
  margin-bottom: 1in;
  margin-top: 10%;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  header h1 {
    margin-top: .5in;
  }

  body {
    margin-left: .5in;
    margin-right: .5in;
  }

  li:last-child {
    margin-bottom: 5%;
  }

  .dateWorkedA {
    display: none;
  }

  .dateWorkedB {
    display: inherit;
  }

  footer {
    margin-top: 5%;
    margin-bottom: .5in;
  }
}